@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic-ext');

body {
  font-family: 'Roboto', sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

a, .nav a {
  color: #727e86;
}

.nav a:hover {
  color: #000000;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

section {
  margin-top: 2em;
  margin-bottom: 2em;
}

/* Common Styles */
.invisible {
  opacity: 0;
}

/* Bootstrap */
.nav-link.active {
  color: #ff0000;
}

h2, .h2 {
  margin-bottom: 1.5em;
  margin-top: 2em;
}

.btn-outline-primary {
  color: #727e86;
  border-color: #727e86;
}

.btn-outline-primary:hover {
  background-color: #727e86;
  border-color: #727e86;
}